<!--<!DOCTYPE html>-->
<!--<html  xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1">-->
<!--</head>-->

<!--<style>-->
<!--    body {-->
<!--        font-family: Arial, Helvetica, sans-serif;-->
<!--        background-image: url("https://w-dog.ru/wallpapers/13/9/468922229693339/krasivo-fon-minimalizm-cvet-ubuntu.jpg");-->
<!--    }-->
<!--    form{-->
<!--        display: flex;-->
<!--        justify-content: center;-->
<!--        flex-direction: column;-->
<!--        align-items: center;-->
<!--        margin-top: 100px;-->
<!--    }-->
<!--</style>-->
<!--<body>-->

<!--<form th:action="@{/{companyId}/{id}/saveUpdateGroup(id=${group.id}, companyId=${companyId})}"-->
<!--      th:object="${group}"-->
<!--      method="post"-->
<!--      style="text-align:center; margin-top:200px; font-size: 30px;">-->
<!--    <div class="container">-->
<!--        <hr>-->
<!--        <input type="hidden" name="id" th:field="*{id}">-->
<!--        <label for="email" style="color: white"><b>Group Name</b></label>-->
<!--        <input type="text" placeholder="Enter company name" th:field="*{groupName}" name="email" id="email" required>-->
<!--        <label for="psw" style="color: white"><b>Date of start</b></label>-->
<!--        <input type="date" placeholder="Enter date of start" th:field="*{dateOfStart}" name="psw" id="psw" required>-->
<!--        <label for="email" style="color: white"><b>Description</b></label>-->
<!--        <input type="text" placeholder="Enter image" th:field="*{image}" name="email" id="email1" required>-->
<!--        <hr>-->
<!--        <button type="submit" class="registerbtn">Update group</button>-->
<!--    </div>-->
<!--</form>-->

<!--</body>-->
<!--</html>-->